@page "/orderpreview"

<div class="order-preview">
    <h1>Order Preview</h1>
    <table class="content-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Line Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CartItemDTO item in CartItems)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price.ToString("c2")</td>
                    <td>@CalcLinePrice(item.Quantity, item.Price).ToString("c2")</td>
                </tr>
            }
        </tbody>
    </table>
    <table class="content-table totals">
        <tbody>
            <tr>
                <td>Total excl. VAT:</td>
                <td>@CalcTotalPrice().ToString("c2")</td>
            </tr>
            <tr>
                <td>Vat @VAT_PERCENTAGE%:</td>
                <td>@CalcVAT().ToString("c2")</td>
            </tr>
            <tr>
                <td>Total incl. VAT:</td>
                <td>@CalcTotalWithVAT().ToString("c2")</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div>
        <h2>Please select shipping address</h2>
    </div>

    <div style="display: @ShowNewAddressButton;">
        <div style="text-align: center;">
            <button @onclick="AddNewAddress_click">Add New Address</button>
        </div>
        
    </div>
    <table class="content-table shipping">
        <thead>
            <tr>
                <th>Address</th>
                <th>Select Ship To</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AddressLineDTO item in AddressLines)
            {
                <tr>
                    <td>@item.AddressLine1</td>
                    @if (item.AddressId == DefaultShipAddress)
                    {
                        <td><input type="radio" @onchange="() => SelectAddress(item)" name="address" checked /></td>
                    }
                    else
                    {
                        <td><input type="radio" @onchange="() => SelectAddress(item)" name="address" /></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    
    <div style="display: @ShowNewAddressForm;">
        <AddressComponent Count="@SetNewAddressCount()" ValidationErrors="@ValidationErrors" Address="@NewAddress" />
        <button @onclick="SaveNewAddress">Save</button>
    </div>
    <div class="proceed">
        <div>
            <button><i class="fas fa-credit-card"></i>&nbsp;&nbsp;Proceed to Checkout</button>
        </div>
        
    </div>
    
</div>

