@page "/productbycategory/{Category}"



<section class="product">
    <h1>@Category</h1>
    @foreach (ProductDTO product in ProductList)
    {
        <div class="product-card">
            <div class="product-card-image">
                <img src="data:image;base64, @Convert.ToBase64String(product.Picture)" />
            </div>
            <div class="product-card-body">
                <div class="product-card-title">@product.Name</div>
                <div class="product-card-description">@product.Description</div>
                <div>
                    <div class="product-card-price">@product.Price.ToString("c2")/@product.UnitPer</div>
                    <div class="product-card-quantity">Qty in Stock: @product.QtyInStock</div>
                </div>
                

                <button>Add to Order</button>
            </div>
        </div>
    }

</section>