@page "/register"



@if (_registerSuccessful == false)
{
    <div class="main_container">
        <h3>Registration Form</h3>

        @if (_attemptToRegisterFailedMessage != null && _attemptToregisterFailed == true)
        {
            foreach (string error in _attemptToRegisterFailedMessage)
            {
                <p class="register_errors">@error</p>
            }
        }

        <div class="form">

            <InputComponent InputType="text" Label="Email Address" @bind-Value="@_userToRegister.EmailAddress" ValidationErrors="@ValidationErrors" PropertyName="EmailAddress" />

            <InputComponent InputType="text" Label="Confirm Email Address" @bind-Value="@_userToRegister.ConfirmEmailAddress" ValidationErrors="@ValidationErrors" PropertyName="ConfirmEmailAddress" />

            <InputComponent InputType="text" Label="Password" @bind-Value="@_userToRegister.Password" ValidationErrors="@ValidationErrors" PropertyName="Password" />

            <InputComponent InputType="text" Label="Confirm Password" @bind-Value="@_userToRegister.ConfirmPassword" ValidationErrors="@ValidationErrors" PropertyName="ConfirmPassword" />

            <InputComponent InputType="text" Label="First Name" @bind-Value="@_userToRegister.FirstName" ValidationErrors="@ValidationErrors" PropertyName="FirstName" />

            <InputComponent InputType="text" Label="Last Name" @bind-Value="@_userToRegister.LastName" ValidationErrors="@ValidationErrors" PropertyName="LastName" />

            <InputComponent InputType="text" Label="Phone Number" @bind-Value="@_userToRegister.PhoneNumber" ValidationErrors="@ValidationErrors" PropertyName="PhoneNumber" />

        </div>

        <div class="form">
            <InputComponent InputType="text" Label="Address Line 1" @bind-Value="@_address.AddressLine1" ValidationErrors="@ValidationErrors" PropertyName="AddressLine1" />

            <InputComponent InputType="text" Label="Address Line 2" @bind-Value="@_address.AddressLine2" ValidationErrors="@ValidationErrors" PropertyName="AddressLine2" />

            <InputComponent InputType="text" Label="Suburb" @bind-Value="@_address.Suburb" ValidationErrors="@ValidationErrors" PropertyName="Suburb" />

            <InputComponent InputType="text" Label="City" @bind-Value="@_address.City" ValidationErrors="@ValidationErrors" PropertyName="City" />

            <InputComponent InputType="text" Label="Postal Code" @bind-Value="@_address.PostalCode" ValidationErrors="@ValidationErrors" PropertyName="Postal Code" />

            <InputComponent InputType="text" Label="Country" @bind-Value="@_address.Country" ValidationErrors="@ValidationErrors" PropertyName="Country" />

        </div>

        <button @onclick="RegisterUser_Click">Submit Registration Form</button>


    </div>
}
else
{
    <h4>Registration was successful. Press the button below to go to the sign in page.</h4>
    <button>Go to Sign In Page</button>
}

