@page "/signin"

@if (_signInSuccessful == false)
{
    <div class="main_container">
        <h3>Sign In</h3>
        @if (_attemptToSignInFailed == true)
        {
            <div>
                <label class="signin_errors">The username or password is incorrect</label>
            </div>
            <div>
                <label class="signin_errors">Please correct and re-enter</label>
            </div>
        }

        <div class="form">

            <InputComponent Class="@InputComponentClass" Label="Email Address" ValidationErrors="@ValidationErrors" PropertyName="EmailAddress" @bind-Value="@_userToSignIn.EmailAddress" />

            <InputComponent Class="@InputComponentClass" Label="Password" ValidationErrors="@ValidationErrors" PropertyName="Password" @bind-Value="@_userToSignIn.Password" InputType="password" />

        </div>
        <button @onclick="SignInUser">Sign In</button>
    </div>
}
else
{

}