@page "/customerprofile"

<PageTitle>Profile</PageTitle>

@if (!String.IsNullOrWhiteSpace(ErrorMessage))
{
    <div>
        <p>@ErrorMessage</p>
    </div>
}
else
{
    <main class="admin-container">
        <aside class="admin-menu">
            <fieldset class="admin-new">
                <legend>View/Edit</legend>
                <ul>
                    <li>
                        <button @onclick="() => Menu_Click(CustomerDetail[0])">Customer Details</button>
                    </li>
                </ul>
            </fieldset>

            @if (Orders.Count() > 0)
            {
                <fieldset class="admin-edit" style="padding: 5px; display: flex; flex-direction: column; gap:10px;">
                    <legend>Orders</legend>

                    @if (OrdersPayment.Count > 0)
                    {
                        <fieldset class="admin-edit">
                            <legend >Payment Required</legend>
                            <ul>
                                @foreach (OrderDTO order in OrdersPayment)
                                {
                                    <li>
                                        <button @onclick="() => OpenPaymentOrder_Click(order.OrderId)" style="font-size: 0.8rem;">@order.OrderDate.ToShortDateString() - @order.OrderId</button>
                                    </li>
                                }
                            </ul>
                        </fieldset>
                    }
                    
                    @if (OrdersShipping.Count > 0)
                    {
                        <fieldset class="admin-edit">
                            <legend>To be Shipped</legend>
                            <ul>
                                @foreach (OrderDTO order in OrdersShipping)
                                {
                                    <li>
                                        <button @onclick="() => OpenShipOrder_Click(order.OrderId)" style="font-size: 0.8rem;">@order.OrderDate.ToShortDateString() - @order.OrderId</button>
                                    </li>
                                }
                            </ul>
                        </fieldset>
                    }
                    
                    @if (OrdersComplete.Count > 0)
                    {
                        <fieldset class="admin-edit">
                            <legend>Completed</legend>
                            <ul>
                                @foreach (OrderDTO order in OrdersComplete)
                                {
                                    <li>
                                        <button @onclick="() => OpenCompleteOrder_Click(order.OrderId)" style="font-size: 0.8rem;">@order.OrderDate.ToShortDateString() - @order.OrderId</button>
                                    </li>
                                }
                            </ul>
                        </fieldset>
                    }                    
                </fieldset>
            }            
        </aside>

        <section class="admin-content">
            @if (!String.IsNullOrWhiteSpace(PageToView))
            {
                @switch (PageToView)
                {
                    case "CustomerDetail":
                        <CustomerDetail Customer="Customer"/>
                        break;
                    case "PaymentOutstanding":
                        <CustomerOrder Order="@Order" Company="@CompanyDetail"/>
                        break;
                    case "ShippingOutstanding":
                        <CustomerOrder Order="@Order" Company="@CompanyDetail" />
                        break;
                    case "Completed":
                        <CustomerOrder Order="@Order" Company="@CompanyDetail" />
                        break;
                }
            }
            else
            {
                <h1>Nothing Slected</h1>
            }

        </section>
    </main>
}