@page "/input"
<div>
    <div>
        <InputValidation ValidationErrors="@ValidationErrors" PropertyName="@PropertyName" />
    </div> 
    <div class="form-control">
        <label>@Label</label>
        <input type="@InputType" value="@Value" @onchange="OnValueChanged" />
    </div>
</div>
