<div>
    <div>
        <InputValidation ValidationErrors="@ValidationErrors" PropertyName="@PropertyName" />
    </div> 
    <div class="form-control">
        <label>@Label</label>
        @if (String.IsNullOrWhiteSpace(ReadOnly))
        {
            <input type="@InputType" value="@Value" @onchange="OnValueChanged" />
        }
        else
        {
            <input type="@InputType" value="@Value" @onchange="OnValueChanged" readonly />
        }

    </div>
</div>
