@page "/input"
<div class="">
    <div>
        <InputValidation ValidationErrors="@ValidationErrors" PropertyName="@PropertyName" />
    </div> 
    <div class="my_1_percent container">
        <label>@Label</label>
        <input type="@InputType" value="@Value" @onchange="OnValueChanged" />
    </div>
</div>
