<div class="">
    <div>
        <InputValidation ValidationErrors="@ValidationErrors" PropertyName="@PropertyName" />
    </div>
    <div class="form-control">
        <label>@Label</label>
        <textarea value="@Value" @onchange="OnValueChanged" rows="@Rows" cols="@Columns" maxlength="@MaxLength"/>
    </div>
</div>