@page "/input"
<div class="@Class">
    <div>
        <InputValidation ValidationErrors="@ValidationErrors" PropertyName="@PropertyName" />
    </div>
    <div class="my_1_percent">
        <label >@Label</label>
        <input type="@InputType" value="@Value" @onchange="OnValueChanged" />
    </div>
</div>
