@page "/adminproductdetail"

<div class="main_container">
    <h3>@Heading</h3>
    
    <div class="form">

        @if (ActionType.Equals("EditAction"))
        {
            <div class="form-control">
                <label for="products">Product to Edit</label>
                <InputSelect TValue="int" id="products" @bind-Value="@ProductId">
                    <option value="">Select product...</option>
                    @foreach (var item in Products)
                    {
                        <option value="@item.ProductId">@item.Name : @item.Description</option>
                    }
                </InputSelect>
            </div>
            <hr />
        }

        <InputComponent Label="Name" @bind-Value="@Product.Name" ValidationErrors="@ValidationErrors" PropertyName="Name" />
        <InputAreaComponent Label="Description" @bind-Value="@Product.Description" ValidationErrors="@ValidationErrors" PropertyName="Description" Rows="4" MaxLength="250" />


        <div>
            <InputValidation ValidationErrors="@ValidationErrors" PropertyName="Picture" />
        </div>
        <div class="flex-col">
            
            @if (ActionType.Equals("AddAction"))
            {
                @if (Image != null)
                {
                    <ImageComponent Label="Product Image" Source="@ImageDataUrl" Width="200" Height="200" />
                }
                else
                {
                    <ImageComponent Label="Product Image" Width="200" Height="200" />
                }

            }
            else if (ActionType.Equals("EditAction"))
            {
                @if (Product.ProductId != 0)
                {
                    <ImageComponent Label="Product Image" Source="@("data:image;base64," + Convert.ToBase64String(Product.Picture))" Width="200" Height="200" />
                }
                else
                {
                    <ImageComponent Label="Product Image" Width="200" Height="200" />
                }
                
                
            }

            <InputFile OnChange="PreviewImage"></InputFile>
        </div>


        <div>
            <InputValidation ValidationErrors="@ValidationErrors" PropertyName="Price" />
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <InputNumber id="price" TValue="decimal" @bind-Value="@Product.Price" />
        </div>
        

        <div>
            <InputValidation ValidationErrors="@ValidationErrors" PropertyName="QtyInStock" />
        </div>
        <div class="form-control">            
            <label for="qtyinstock">Qty in Stock</label>
            <InputNumber id="qtyinstock" TValue="int" @bind-Value="@Product.QtyInStock" />
        </div>

        <div>
            <InputValidation ValidationErrors="@ValidationErrors" PropertyName="CategoryId" />
        </div>
        <div class="form-control">            
            <label for="productcategory">Category</label>
            <InputSelect TValue="int" id="productcategory" @bind-Value="@Product.CategoryId">
                <option value="">Select...</option>
                @foreach (var item in ProductCategories)
                {
                    <option value="@item.ProductCategoryId">@item.CategoryName</option>
                }
            </InputSelect>
        </div>
        
        <div>
            <InputValidation ValidationErrors="@ValidationErrors" PropertyName="UnitPerId" />
        </div>
        <div class="form-control">            
            <label for="unitper">Unit Per</label>
            <InputSelect TValue="int" id="unitper" @bind-Value="@Product.UnitPerId">
                <option value="">Select...</option>
                @foreach (var item in UnitPers)
                {
                    <option value="@item.UnitPerId">@item.UnitPer</option>
                }
            </InputSelect>
        </div>
        


        <div class="flex-row">
            <button @onclick="SaveProduct_Click" style="display: @_showSaveButton;">Save Product</button>
        </div>
    </div>

</div>


